body {
    background-color: #1c1c1c; /* Dark background for the whole page */
}
.input-group input::placeholder {
    color: #ffffff;
}

        /* Custom button styling */
.btn-custom {
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.5rem 0;
    border-radius: 5px;
    color: #fff;
    width: 100%; /* Full width for equal columns */
    text-transform: uppercase;
    background-color: #f44336;
        }

                /* Custom styling for the cards */
.card-custom {
        border: 1px solid #373737;
        border-radius: 22px;
        text-align: center; 
        margin-top: 20px;
        background-color: #373737;
                }
               
.card-custom p {
        color: #fff;
        font-size: 0.9rem;
        margin-top: 10px; 
                }
        
    

        
