@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
}
input::placeholder{
    color: #E3E3E3 !important; 
}

.section-1 {
    background-color: #292929;
}
.btn-1 {
    background-color: #9E0517;
border: 1px solid #9E0517;
}
.btn-2{
    background-color: #FFFAFA;
    color: #9E0517;
}
.section-container {
    margin: 0px 150px;
}
.btn-4 {
    background-color: #E3E3E3;
}
